@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/_base';
.landing-container {
    width: 100vw;
    height: 100vh;
    color: $theme-color-grey;
    font-family: $theme-font-type-roboto;
    overflow-y: scroll;
    font-size: $mobile-font-h4-size;
    font-weight: $desktop-font-standard-weight;
    letter-spacing: $desktop-font-standard-spacing;
    @include column-center;
    .main-title-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-transform: uppercase;
        color: white;
        padding: 0 15vw;
        .main-title {
            @include row-center;
            list-style-type: none;
            width: 100%;
            height: 100vh;
            h1,
            span {
                font-weight: bold;
                height: auto;
                text-transform: uppercase;
                font-size: $mobile-font-h1-size;
                letter-spacing: 4px;
                line-height: 140%;
                text-align: left;
            }
        }
    }
    .landing-content {
        position: absolute;
        width: 100vw;
        height: auto;
        background: white;
        color: $theme-color-grey;
        overflow-y: scroll;
        .landing {
            @include column-center;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 $mobile-horizontal-padding-light-green;
            content {
                width: 100%;
            }
            h2 {
                margin-top: $mobile-vertical-margin-blue;
            }
        }
        .landing-description {
            width: 100vw;
            height: auto;
            // display: none;
            h1 {
                margin-top: $mobile-vertical-margin-green;
            }
            .special {
                font-size: $mobile-font-h3-size;
                font-weight: bold;
            }
        }
        .landing-tech {
            width: 100vw;
            height: auto;
            h2 {
                margin-bottom: 0;
            }
            .tech-content {
                @include column-center;
                flex-direction: column-reverse;
                content {
                    width: 100%;
                    .highlight {
                        &:nth-child(1) {
                            background: $theme-color-sky-blue;
                        }
                        &:nth-child(2) {
                            background: $theme-color-yellow;
                        }
                        &:nth-child(3) {
                            background: $theme-color-pink;
                        }
                    }
                }
                .tech-graphcis {
                    width: 100%;
                    height: 100%;
                    @include row-center;
                    justify-content: flex-start;
                    margin: $mobile-vertical-margin-purple 0;
                    img {
                        max-width: 100%;
                        max-height: 90%;
                    }
                }
            }
        }
        .landing-supporters {
            h2 {
                font-size: $mobile-font-h2-size;
            }
            .supporters-content {
                width: 100%;
                display: grid;
                justify-content: space-between;
                $supporter-grid-width-height: 37.5vw;
                grid-template-columns: repeat(2, $supporter-grid-width-height);
                grid-template-rows: $supporter-grid-width-height;
                grid-row-gap: $mobile-vertical-margin-purple;
                .supporter {
                    width: $supporter-grid-width-height;
                    height: $supporter-grid-width-height;
                    background: #f0f0f0;
                    @include row-center;
                    img {
                        max-width: 70%;
                        max-height: 35%;
                    }
                    .ilab {
                        max-height: 20%;
                    }
                    @include media(tablet) {
                        img {
                            max-width: 80%;
                            max-height: 45%;
                        }
                        .ilab {
                            max-height: 30%;
                        }
                    }
                }
            }
        }
        .landing-updates {
            h2 {
                font-size: $mobile-font-h2-size;
            }
        }
    }
}

@include media(small) {
    .landing-container {
        font-size: $desktop-font-h4-size;
        font-weight: $desktop-font-standard-weight;
        letter-spacing: $desktop-font-standard-spacing;
        .main-title-container {
            padding: 0 $desktop-horizontal-padding-light-green;
            .main-title {
                h1,
                span {
                    font-size: $desktop-font-h1-size;
                    letter-spacing: 7.5px;
                    line-height: 150%;
                    text-align: center;
                }
            }
        }
        .landing-content {
            .landing {
                @include column-center;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 $desktop-horizontal-padding-light-green;
                content {
                    width: 50%;
                }
                h2 {
                    margin-top: $desktop-vertical-margin-sky-blue;
                }
            }
            .landing-description {
                h1 {
                    margin-top: 35vh;
                }
                .special {
                    font-size: $desktop-font-h3-size;
                }
            }
            .landing-tech {
                h2 {
                    margin-bottom: $desktop-vertical-margin-light-yellow;
                }
                .tech-content {
                    @include row-center;
                    flex-direction: row;
                    content {
                        width: 50%;
                        .highlight {
                            &:nth-child(1) {
                                background: $theme-color-sky-blue;
                            }
                            &:nth-child(2) {
                                background: $theme-color-yellow;
                            }
                            &:nth-child(3) {
                                background: $theme-color-pink;
                            }
                        }
                    }
                    .tech-graphcis {
                        width: 50%;
                        height: 100%;
                        @include row-center;
                        justify-content: flex-end;
                        img {
                            max-width: 90%;
                            max-height: 90%;
                        }
                    }
                }
            }
            .landing-supporters {
                h2 {
                    font-size: $desktop-font-h1-size;
                }
                .supporters-content {
                    padding: 0 $desktop-horizontal-padding-light-red;
                    $supporter-grid-width-height: 15vw;
                    grid-template-columns: repeat(4, $supporter-grid-width-height);
                    grid-template-rows: $supporter-grid-width-height;
                    .supporter {
                        width: $supporter-grid-width-height;
                        height: $supporter-grid-width-height;
                        @include row-center;
                        img {
                            max-width: 70%;
                            max-height: 35%;
                        }
                        .ilab {
                            max-height: 20%;
                        }
                        @include media(tablet) {
                            img {
                                max-width: 80%;
                                max-height: 45%;
                            }
                            .ilab {
                                max-height: 30%;
                            }
                        }
                    }
                }
            }
            .landing-updates {
                h2 {
                    font-size: $desktop-font-h1-size;
                }
            }
        }
    }
}