<section class="landing-container">
    <section class="main-title-container" [@containerState]='states.container1' mouseWheel (mouseWheelDown)="scrollUp()">
        <div class="main-title">
            <h1>
                We Transform
                <span [@titleHighlightAnimation]="true">
                    Data
                </span> to
                <span [@titleHighlightAnimation]="true">
                    Actionable Insights
                </span>
            </h1>
        </div>
    </section>
    <section class="landing-content" [@containerState]='states.container2'>
        <div class="landing-description">
            <h1>bla bla bla landing page</h1>
            <content>
                <p>
                    Our work is inspired by a true understanding of data transformation and a hunger to develop seamless software systems.
                </p>
            </content>
        </div>
    </section>
</section>