<section class="landing-container">
    <section class="main-title-container" [@containerState]='states.container1'>
        <div class="main-title">
            <h1>
                We Transform
                <span [@titleHighlightAnimation]="true">
                    Data
                </span> to
                <span [@titleHighlightAnimation]="true">
                    Actionable Insights
                </span>
            </h1>
        </div>
    </section>
    <section id="landing-content" class="landing-content" [@containerState]='states.container2'>
        <div class="landing landing-description">
            <h1>What we do</h1>
            <content>
                <p class="special">
                    Modulr Tech unlocks the commercial value of big data by transforming your existing datasets into user-friendly directions and insights.
                </p>
                <p>
                    We help businesses make sense of their data challenges by providing solutions in visualisation, analytics and predictive modelling. Using our range of management and processing modules, we consult with and create software systems for a range of industry
                    clients.
                </p>
            </content>
        </div>
        <div class="landing landing-tech">
            <h2>Our Core tech</h2>
            <content>
                <p>
                    Our work is powered by our agile Data Processing Engine, which cleans and transforms raw data into actionable insights. This is central to our suite of Predictive Modelling, Big Data Analytics and Data Visualisation modules.
                </p>
                <p>
                    By using a distinct combination of machine learning, artificial intelligence and user focused design, we unlock the insight and value otherwise hidden in your existing data.
                </p>
            </content>
        </div>
        <div class="landing landing-why">
            <h2>Why Modulr Tech</h2>
            <content>
                <p>
                    We believe that there are no blanket solutions in managing and refining big data. Each module is fully customisable to suit your specific needs and requirements.
                </p>
                <p>
                    Our mission is to empower individuals in making faster and more insight-driven decisions throughout their everyday operations.
                </p>
                <p>
                    We offer a multidisciplinary team, spanning software development, business analytics, and user-experience design. We are dedicated to unlocking the value from your data challenges and creating digital solutions that boast a seamless integration of usability
                    and analytics.
                </p>
            </content>
        </div>
        <div class="landing landing-supporters">
            <h2>Our Supporters</h2>
            <div class="supporters-content">
                <div class="supporter">
                    <img src="assets/images/other_company/Unearthed_Solutions_Logo.png" alt="">
                </div>
                <div class="supporter">
                    <img src="assets/images/other_company/Origin_Energy_Logo.png" alt="">
                </div>
                <div class="supporter">
                    <img class="ilab" src="assets/images/other_company/iLab_logo.png" alt="">
                </div>
                <div class="supporter">
                    <img src="assets/images/other_company/University_of_Queensland_logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="landing landing-updates">
            <h2>Latest Updates</h2>
        </div>
        <app-next-page-prompt></app-next-page-prompt>
        <app-footer></app-footer>
    </section>
</section>