<section class="landing-container">
    <section id="landing-content" class="landing-content">
        <div class="landing description">
            <h2 class="heading-block-transition">What we do</h2>
            <content [ngClass]="{'fade-in-effect': isContainer1Shown, 'animation-delay': isContainer1Shown}">
                <p class="special">
                    Modulr Tech unlocks the commercial value of big data by transforming your existing datasets into user-friendly directions and insights.
                </p>
                <p>
                    We help businesses make sense of their data challenges by providing solutions in visualisation, analytics and predictive modelling. Using our range of management and processing modules, we consult with and create software systems for a range of industry
                    clients.
                </p>
            </content>
        </div>
        <div class="landing technology" [ngClass]="{'fade-in-effect': isContainer2Shown}">
            <h2>Our Core Tech</h2>
            <div class="tech-content">
                <content>
                    <p>
                        Our work is powered by our <span class="highlight">Data Processing Engine</span>, which cleans and transforms <span class="highlight">raw data</span> into <span class="highlight">actionable insights</span>. This is central to our
                        suite of Predictive Modelling, Big Data Analytics and Data Visualisation modules.
                    </p>
                    <p>
                        By using a distinct combination of machine learning, artificial intelligence and user focused design, we unlock the insight and value otherwise hidden in your existing data.
                    </p>
                </content>
                <div class="tech-graphcis" [ngClass]="{'heading-block-transition': isContainer2Shown, 'animation-delay': isContainer2Shown}">
                    <img src="assets/images/graphics/Data_To_Actionable_Insights.png" alt="Data to Insights icon">
                </div>
            </div>
        </div>
        <div class="landing why-modulr" [ngClass]="{'fade-in-effect': isContainer3Shown}">
            <h2>Why Modulr Tech</h2>
            <content>
                <p>
                    We believe that there are no blanket solutions in managing and refining big data. Each module is fully customisable to suit your specific needs and requirements.
                </p>
                <p>
                    Our mission is to empower individuals in making faster and more insight-driven decisions throughout their everyday operations.
                </p>
                <p>
                    We offer a multidisciplinary team, spanning software development, business analytics, and user-experience design. We are dedicated to unlocking the value from your data challenges and creating digital solutions that boast a seamless integration of usability
                    and analytics.
                </p>
            </content>
        </div>
        <div class="landing supporters" [ngClass]="{'fade-in-effect': isContainer4Shown}">
            <h2>Our Supporters</h2>
            <div class="supporters-content">
                <div class="supporter">
                    <img src="assets/images/other_company/Unearthed_Solutions_Logo.png" alt="UnearthedSolutions logo">
                </div>
                <div class="supporter">
                    <img src="assets/images/other_company/Origin_Energy_Logo.png" alt="OriginEnergy logo">
                </div>
                <div class="supporter">
                    <img class="ilab" src="assets/images/other_company/iLab_logo.png" alt="Ilab logo">
                </div>
                <div class="supporter">
                    <img src="assets/images/other_company/University_of_Queensland_logo.png" alt="UniversityOfQueensland logo">
                </div>
            </div>
        </div>
        <div class="landing updates" [ngClass]="{'fade-in-effect': isContainer5Shown}">
            <h2>Latest Updates</h2>
        </div>
        <app-next-page-prompt></app-next-page-prompt>
        <app-footer></app-footer>
    </section>
</section>