<section class="footer-container">
    <div class="policy">
        Privacy policy | Sitemap
    </div>
    <div class="newsletter" (click)="showNewsletter()">
        Subscribe to our newsletter
    </div>
    <div class="branding">
        <div class="header-icon" routerLink="/welcome/landingpage">
            <img src="assets/images/modulr/modulr_white.png" alt="modulr logo"> &nbsp;
            <nav>MODULR TECH</nav>
        </div>
    </div>
    <div class="social-media">
        <nav><a href="https://twitter.com/ModulrAU" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></nav>
        <nav><a href="https://www.facebook.com/Modulrtech/" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></nav>
        <nav><a href="https://www.linkedin.com/company/18195994/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></nav>
        <nav><a href="https://medium.com/@modulr" target="_blank"><i class="fab fa-medium-m" aria-hidden="true"></i></a></nav>
    </div>
    <div class="copyright">
        COPYRIGHT BY MODULR TECH
    </div>
</section>
<app-newsletter *ngIf="isNewsletterShown" [@newsletterSlideInAnimation]="true" (isCloseButtonClicked)="hideNewsletter()"></app-newsletter>