@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.footer-container {
    background: white;
    width: 100vw;
    padding: $tablet-vertical-margin-dark-green $tablet-horizontal-padding-light-red/2 0 $tablet-horizontal-padding-light-red/2;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    font-family: $theme-font-type-roboto;
    grid-template-areas: "policy newsletter logo social-media" ". . copyright .";
    align-items: center;
    letter-spacing: 2.68px;
    .policy {
        grid-area: policy;
        font-size: $tablet-font-h4-size;
        font-weight: 100;
    }
    .newsletter {
        grid-area: newsletter;
        font-size: $tablet-font-body-size;
        text-decoration: underline;
    }
    .branding {
        grid-area: logo;
        .header-icon {
            display: flex;
            justify-content: flex-start;
            z-index: 10;
            cursor: pointer;
            width: auto;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            align-content: center;
            vertical-align: middle;
            font-size: $tablet-font-h3-size;
            letter-spacing: 3px;
            font-family: $theme-font-type-montserrat;
            font-weight: 300;
            img {
                height: 4vh;
            }
        }
    }
    .social-media {
        grid-area: social-media;
        @include row-center;
        justify-content: flex-end;
        nav {
            font-size: 22px;
            margin-left: 40px;
        }
    }
    .copyright {
        grid-area: copyright;
        @include row-center;
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}