<section class="main-container" style="color: white">
    <div class="footer-navigation-social-container">
        <nav class="logo" routerLink="/landing">
            <img src="assets/images/modulr/logo_with_text.png" alt="Modulr logo"> &nbsp; MODULR TECH
        </nav>
        <div class="footer-navigation-content">
            <nav routerLink="/welcome/landing"> Home </nav>
            <nav routerLink="/welcome/solutionpage"> what we offer </nav>
            <nav routerLink="/welcome/aboutpage"> about </nav>
            <nav routerLink="/welcome/presspage"> press </nav>
            <a href="https://medium.com/@modulr">
                <nav>blog</nav>
            </a>
            <nav routerLink="/welcome/contactpage"> contact</nav>
        </div>
        <div class="social-icons">
            <nav><a href="https://twitter.com/ModulrAU" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></nav>
            <nav><a href="https://www.facebook.com/Modulrtech/" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></nav>
            <nav><a href="https://www.linkedin.com/company/18195994/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></nav>
            <nav><a href="https://medium.com/@modulr" target="_blank"><i class="fab fa-medium-m" aria-hidden="true"></i></a></nav>
        </div>
        <div class="social-content">Privacy Policy</div>
        <!-- <div class="social-content">Modulr copyright stuff and whatnot</div> -->
    </div>
</section>