<section class="all-modals" (click)="hideModal()" *ngIf="isModalShown" [@slideInAnimation]="enter">
</section>
<div class="header-main-container" *ngIf="isHeaderShown">
    <div class="header-main-container-content">
        <div class="header-icon" [ngClass]="{'filter': needFilter == true}" routerLink="/home">
            <img src="assets/images/modulr/modulr_white.png" alt="modulr logo"> &nbsp;
            <nav class="desktop">MODULR TECH</nav>
        </div>
        <div class="header-navigation-bar mobile">
            <button class="navigation-btn" [ngClass]="{'grey-font': isDropdown, 'active': menu == true, 'filter': needFilter == true}" (click)="toggleMenu()" (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown">
                <span>menu</span> <div class="hamburger"></div>
            </button>
        </div>
        <section (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown" class="header-navigation-container mobile" *ngIf="isDropdown" [@slideInAnimation]="enter">
            <div class="header-navigation-content mobile">
                <nav routerLink="/home" routerLinkActive="active-link"> Home </nav>
                <nav routerLink="/what-we-offer" routerLinkActive="active-link"> What We Offer</nav>
                <nav routerLink="/about" routerLinkActive="active-link"> about </nav>
                <a href="https://medium.com/@modulr">
                    <nav>blog</nav>
                </a>
                <nav routerLink="/contact" routerLinkActive="active-link"> contact</nav>
            </div>
            <div class="header-navigation-social-container">
                <div class="social-icons" (click)="$event.stopPropagation()">
                    <nav><a href="https://twitter.com/ModulrAU" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></nav>
                    <nav><a href="https://www.facebook.com/Modulrtech/" target="_blank"><i class="fab fa-facebook-square"></i></a></nav>
                    <nav><a href="https://www.linkedin.com/company/18195994/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></nav>
                    <nav><a href="https://medium.com/@modulrtech" target="_blank"><i class="fab fa-medium-m" aria-hidden="true"></i></a></nav>
                </div>
                <div class="social-content">Privacy Policy</div>
            </div>
        </section>
        <!-- desktop -->
        <section class="header-navigation-container desktop">
            <div class="header-navigation-content">
                <div *ngIf="menu" [@menuStaggerAnimation]="true">
                    <nav [ngClass]="{'filter': needFilter == true}" routerLink="/home" routerLinkActive="active-link"> Home </nav>
                    <nav [ngClass]="{'filter': needFilter == true}" routerLink="/what-we-offer" routerLinkActive="active-link"> What We Offer </nav>
                    <nav [ngClass]="{'filter': needFilter == true}" routerLink="/about" routerLinkActive="active-link"> about </nav>
                    <nav [ngClass]="{'filter': needFilter == true}">
                        <a href="https://medium.com/@modulrtech" target="_blank">
                            blog
                        </a>
                    </nav>
                    <nav [ngClass]="{'filter': needFilter == true}" routerLink="/contact" routerLinkActive="active-link"> contact</nav>
                </div>
                <button class="navigation-btn" [ngClass]="{'active': menu == true, 'filter': needFilter == true}" (click)="toggleMenu()">
                    <div class="hamburger"></div>
                </button>
            </div>
        </section>
    </div>

</div>