@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.grey-font {
    color: $theme-font-white;
}

.black-font {
    color: $theme-font-black;
}

section.all-modals {
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.92);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include column-center();
}

// mobile
.header-main-container {
    a {
        text-decoration: none;
    }
    width: 100vw;
    height: $header-height;
    color: $theme-font-white;
    font-family: $theme-font-type-roboto;
    display: flex;
    align-items: flex-end;
    .header-main-container-content {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $mobile-horizontal-padding;
        .header-icon {
            display: flex;
            justify-content: flex-start;
            z-index: 10;
            cursor: pointer;
            width: auto;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            align-content: center;
            vertical-align: middle;
            font-size: 1rem;
            letter-spacing: 3px;
            font-family: $theme-font-type-montserrat;
            font-weight: 300;
            img {
                height: 6vh;
            }
        }
        .header-navigation-bar {
            z-index: 10;
            button {
                font-weight: 300;
                text-transform: uppercase;
                background: transparent;
                border: 0px;
                color: $theme-font-white;
            }
        }
        .header-navigation-container {
            height: 100%;
            width: 100vw;
            text-align: center;
            color: $theme-font-black;
            z-index: 11;
            $header-navigation-content-height: 75vh;
            $header-navigation-social-container: 100vh - $header-navigation-content-height;
            font-weight: 100;
            .header-navigation-content {
                width: 100vw;
                height: $header-navigation-content-height;
                @include column-center;
                justify-content: flex-end;
                nav {
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    margin-bottom: 3vh;
                    &:nth-child(6) {
                        margin-bottom: 10vh;
                    }
                }
            }
            .header-navigation-social-container {
                width: 100vw;
                height: $header-navigation-social-container;
                @include column-center;
                .social-icons {
                    width: 65%;
                    display: flex;
                    justify-content: space-between;
                    margin: 3vh 0 5vh 0;
                    nav {
                        font-size: 1.6rem;
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
                .social-content {
                    margin-bottom: 1.5vh;
                }
            }
        }
    }
}

@include media(tablet) {
    a {
        letter-spacing: 3px;
    }
    .header-main-container {
        .header-main-container-content {
            height: auto;
            padding: 0 $tablet-horizontal-padding-light-red;
            .header-icon {
                width: 30vw;
                height: 100%;
                justify-content: flex-start;
                align-items: center;
                z-index: 1;
                // filter: invert(100%);
                nav {
                    font-size: 1rem;
                    letter-spacing: 3px;
                    font-weight: 300;
                }
                img {
                    height: 4vh;
                }
            }
            .header-navigation-container {
                width: 60vw;
                height: 100%;
                padding: 0 0 0 0;
                color: white;
                z-index: 1;
                position: relative;
                @include row-center;
                align-items: flex-end;
                // filter: invert(100%);
                .header-navigation-content {
                    position: relative;
                    width: 100%;
                    height: auto;
                    @include row-center;
                    align-items: center;
                    justify-content: flex-end;
                    // $tablet-nav-margin-bottom: 2vh;
                    $tablet-nav-margin-bottom: 0vh;
                    $navigation-tab-size: 17%;
                    div {
                        position: relative;
                        width: 100%;
                        height: auto;
                        @include row-center;
                        align-items: center;
                        justify-content: space-around;
                        // $tablet-nav-margin-bottom: 2vh;
                        $tablet-nav-margin-bottom: 0vh;
                        $navigation-tab-size: 17%;
                        nav {
                            @include column-center();
                            // width: $navigation-tab-size;
                            width: auto;
                            text-transform: uppercase;
                            font-family: $theme-font-type-roboto;
                            font-size: 0.8rem;
                            font-weight: 300;
                            letter-spacing: 3px;
                            @media (min-width: 768px) and (orientation: portrait) {
                                font-size: 0.7rem;
                            }
                            display: block;
                            margin: 0 0 $tablet-nav-margin-bottom 0;
                            cursor: pointer;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:nth-child(6) {
                                margin-bottom: $tablet-nav-margin-bottom;
                            }
                        }
                    }
                    // .active-link {
                    //     position: absolute;
                    //     bottom: 10%;
                    //     left: 0;
                    //     width: $navigation-tab-size;
                    //     height: 1px;
                    //     @include column-center;
                    //     &:focus {
                    //         outline: 0;
                    //     }
                    //     span {
                    //         width: fit-content;
                    //         color: transparent;
                    //         display: block;
                    //         border-bottom: white solid 2px !important;
                    //     }
                    // }
                    .navigation-btn {
                        font-family: $theme-font-type-roboto;
                        font-weight: 100;
                        text-transform: uppercase;
                        z-index: 10;
                        outline: none;
                        border: none;
                        position: relative;
                        @include row-center;
                        color: white;
                        font-size: 9pt;
                        background: transparent;
                        width: auto;
                        cursor: pointer;
                        $hamburgerColor: white;
                        $hamburgerSize: 2px;
                        .hamburger {
                            width: 25px;
                            height: $hamburgerSize;
                            background: $hamburgerColor;
                            position: relative;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                            transition: 0.3s;
                            &.dark {
                                background: white;
                                &:before,
                                &:after {
                                    background: white;
                                }
                            }
                        }
                        .hamburger:before,
                        .hamburger:after {
                            content: '';
                            position: absolute;
                            height: $hamburgerSize;
                            background: $hamburgerColor;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                            transition: 0.3s;
                            left: 0;
                        }
                        .hamburger:before {
                            top: -7pt;
                            width: 100%;
                        }
                        .hamburger:after {
                            top: 7pt;
                            width: 100%;
                        }
                    }
                    .active .hamburger {
                        background: rgba(0, 0, 0, 0);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
                        color: transparent;
                    }
                    .active .hamburger:before {
                        transform: rotate(45deg);
                        width: 120%;
                        left: 0;
                        top: 0;
                    }
                    .active .hamburger:after {
                        transform: rotate(135deg);
                        width: 120%;
                        top: 0;
                        left: 0%;
                    }
                }
            }
        }
    }
}

.filter {
    filter: invert(100%);
}