<section class="contact-main-container">
    <div class="contact-content">
        <h1>Get In Touch</h1>
        <div class="contact-address">
            Level 18,<br/> 324 Queen Street,<br/> Brisbane QLD 4000
        </div>
        <div class="contact-details">
            <div class="detail">
                <span class="name">
                    tech support
                </span>
                <span class="email">
                    support@modulrtech.com
                </span>
            </div>
            <div class="detail">
                <span class="name">
                    general enquiries
                </span>
                <span class="email">
                    contact@modulrtech.com
                </span>
            </div>
            <div class="detail">
                <span class="name">
                    press
                </span>
                <span class="email">
                    media@modulrtech.com
                </span>
            </div>
        </div>
        <div class="contact-enquiry">
            Or send us an <span class="highlight">enquiry</span> .
        </div>
    </div>
    <div class="contact-social-media">
        <nav><a href="https://twitter.com/ModulrAU" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></nav>
        <nav><a href="https://www.facebook.com/Modulrtech/" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></nav>
        <nav><a href="https://www.linkedin.com/company/18195994/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></nav>
        <nav><a href="https://medium.com/@modulr" target="_blank"><i class="fab fa-medium-m" aria-hidden="true"></i></a></nav>
    </div>
</section>

<div class="contact-background"></div>