<section class="contact-main-container">
    <div class="contact-container-content getintouch">
        <h2 class="first">Get in touch</h2>
        <content>
            We are currently looking for industry experts to partner with. Corporate partners, institutions, and individuals play a crucial role in our work, and we are always open to starting a conversation with you.
        </content>
        <content class=inquiries>
            <div class="contact 1">
                General Inquiries
                <br/>
                <address>contact@modulrtech.com</address>
            </div>
            <div class="contact 2">
                Press
                <br/> <address>media@modulrtech.com</address>
            </div>
            <div class="contact 3">
                Tech Support
                <br/> <address>support@modolrtech.com</address>
            </div>
        </content>
    </div>

    <div class="contact-container-content contactform last">
        <h2>Shoot us a message</h2>
        <app-contact-form></app-contact-form>
    </div>

    <!-- <app-footer></app-footer> -->
</section>