@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
@include media(tablet) {
    .contact-background {
        width: 100vw;
        height: 100vh;
        background: url("/assets/images/modulr/modulr-base.png") no-repeat center;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contact-main-container {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        color: #f5f5f5;
        padding: $tablet-vertical-margin-dark-green $tablet-horizontal-padding-light-red;
        font-family: $theme-font-type-roboto;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: $tablet-font-body-size;
        font-weight: 100;
        @include column-center;
        align-items: flex-start;
        justify-content: space-between;
        .contact-content {
            width: 100%;
            margin-top: $tablet-vertical-margin-sky-blue;
            padding-left: $tablet-horizontal-padding-light-green/2;
            h1 {
                color: $theme-font-pink;
                margin-bottom: $tablet-vertical-margin-orange;
            }
            .contact-address {
                font-size: $tablet-font-h3-size;
                line-height: 30px;
                letter-spacing: 3.48px;
                font-weight: 100;
                margin-bottom: $tablet-vertical-margin-orange;
            }
            .contact-details {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 20% 20%;
                grid-row-gap: $tablet-vertical-margin-dark-blue;
                margin-bottom: $tablet-vertical-margin-light-yellow;
                .detail {
                    width: 100%;
                    letter-spacing: 2.01px;
                    line-height: 22.5px;
                    @include column-center;
                    align-items: flex-start;
                    .name {
                        text-transform: uppercase;
                        font-size: $tablet-font-h4-size;
                        font-weight: bold;
                    }
                    .email {
                        color: $theme-font-pink;
                        font-size: $tablet-font-h4-size - 2px;
                    }
                }
            }
            .contact-enquiry {
                font-size: $tablet-font-h3-size;
            }
        }
        .contact-social-media {
            @include row-center;
            nav {
                font-size: 22px;
                margin-right: 30px;
            }
        }
    }
    h1 {
        font-family: $theme-font-type-roboto-condensed;
        font-size: $tablet-font-h1-size;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 7.5px;
        margin-bottom: $tablet-vertical-margin-dark-blue;
    }
}

.highlight {
    color: $theme-font-pink;
    cursor: pointer;
}