<div class="form-main-container">
    <form id="enquiryForm" class="contact-form" [formGroup]="contactForm">
        <select name="interest" formControlName="contactInterest">
    <option [ngValue]="null">Interested in</option>
    <option *ngFor="let interest of allInterests" [ngValue]="interest">{{interest}}</option>
  </select>
        <div class="form-input">
            <input type="text" id="company" name="company" placeholder="Company" formControlName="contactCompany">
            <small *ngIf="!contactForm.controls.contactCompany.valid && contactForm.controls.contactCompany.dirty">
              Company is required (minimum 5 characters).
          </small>
        </div>
        <div class="form-input">
            <input type="text" name="Name" placeholder="Name" formControlName="contactName">
            <small *ngIf="!contactForm.controls.contactName.valid && contactForm.controls.contactName.dirty">
              Name is required (minimum 5 characters).
          </small>
        </div>
        <div class="form-input">
            <input type="text" name="Email" placeholder="Email" formControlName="contactEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <small *ngIf="!contactForm.controls.contactEmail.valid && contactForm.controls.contactEmail.dirty">
              Invalid email format
          </small>
        </div>
        <textarea rows="7" cols="10" name="Message" placeholder="Your message" form="enquiryForm" formControlName="contactMessage"></textarea>
        <!-- <input class="submit" [disabled]="!contactForm.valid" type="submit" value="SUBMIT"> -->
        <button id="submit-button" [disabled]="!contactForm.valid" [ngClass]="{'activated-submit': activatedSubmit,'form-submitted': formSubmitted, 'form-submitted-failed': submittedFailed}" (click)="onSubmitForm()">
          <div *ngIf="formSubmitted">
              <i class="fas fa-check"></i>
          </div>
          <div *ngIf="submittedFailed">
              <i class="fas fa-times"></i>
      </div>
      </button>
    </form>
</div>