@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.next-page-prompt-container {
    width: 100vw;
    height: 30vh;
    background: #f4f4f4;
    font-family: $theme-font-type-roboto;
    position: relative;
    z-index: 2;
    @include column-center;
    .next-page-prompt-content {
        height: 100%;
        width: auto;
        @include column-center;
        text-transform: uppercase;
        $vertical-margin: 3.5vh;
        cursor: pointer;
        transition: 0.3s;
        .direction {
            font-size: 12px;
            margin-bottom: $vertical-margin;
            font-weight: bold;
        }
        .page-indicator {
            font-family: $theme-font-type-roboto-condensed;
            font-size: $mobile-font-h2-size;
            font-weight: bold;
            margin-bottom: $vertical-margin;
            letter-spacing: 6px;
        }
        .arrow {
            color: $theme-color-sky-blue;
        }
    }
}

.next-page-prompt-overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    &::after {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -2;
    }
}

@include media(small) {
    .next-page-prompt-container {
        .next-page-prompt-content {
            @include column-center;
            $vertical-margin: 3.5vh;
            .direction {
                font-size: 10px;
                margin-bottom: $vertical-margin;
            }
            .page-indicator {
                font-family: $theme-font-type-roboto-condensed;
                font-size: $desktop-font-h2-size;
                font-weight: bold;
                margin-bottom: $vertical-margin;
            }
        }
    }
}