@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.about-container {
    width: 100vw;
    height: auto;
    color: $theme-color-grey;
    font-family: $theme-font-type-roboto;
    font-size: $mobile-font-h4-size;
    font-weight: $desktop-font-standard-weight;
    letter-spacing: $desktop-font-standard-spacing;
    @include column-center;
    .about-content {
        position: relative;
        width: 100vw;
        height: auto;
        background: white;
        color: $theme-color-grey;
        .about {
            opacity: 0;
        }
        .about-description {
            width: 100vw;
            height: auto;
            @include column-center;
            justify-content: flex-start;
            align-items: flex-start;
            padding: $mobile-vertical-margin-green $mobile-horizontal-padding-light-red;
            // display: none;
            h2 {
                font-size: $mobile-font-h1-size;
            }
            content {
                width: 100%;
                font-size: $mobile-font-h3-size;
            }
        }
        .about-team {
            // display: none;
            width: 100vw;
            height: auto;
            @include row-center;
            position: relative;
            h2 {
                font-size: $desktop-font-h2-size;
            }
            .team-content {
                position: relative;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                padding: $mobile-vertical-margin-red 0;
                .team-description {
                    height: 100%;
                    width: 100%;
                    padding: 0 $mobile-horizontal-padding-light-red;
                    @include column-center;
                    align-items: flex-start;
                    justify-content: flex-start;
                    // display: none;
                    .team-member {
                        margin-top: $mobile-vertical-margin-purple;
                        width: 100%;
                        .member {
                            display: flex;
                            font-size: $desktop-font-body-size;
                            margin-bottom: 15px;
                            cursor: pointer;
                            .name {
                                font-family: $theme-font-type-roboto-condensed;
                                font-weight: bold;
                                width: 30%;
                            }
                            .position {
                                width: 70%;
                            }
                            @include media(tablet) {
                                .name {
                                    width: 35%;
                                }
                                .position {
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
            .article-video {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: #999;
            }
        }
        .about-news {
            // display: none; 
            width: 100vw;
            height: auto;
            padding: 0 $mobile-horizontal-padding-light-red;
            padding-bottom: $mobile-vertical-margin-green;
            h2 {
                color: $theme-color-black;
                margin-top: $mobile-vertical-margin-red;
                font-size: $mobile-font-h1-size;
            }
            .news-articles {
                width: 100%;
                height: auto;
                display: grid;
                justify-content: center;
                $news-width-height: 100vw - $mobile-horizontal-padding-light-green*4;
                grid-template-columns: $news-width-height;
                grid-row-gap: $mobile-vertical-margin-red;
                .news {
                    width: 100%;
                    height: $news-width-height;
                    background: #f0f0f0;
                    padding: 2vh;
                    @include column-center;
                    justify-content: space-between;
                    .news-image {
                        height: auto;
                        @include row-center;
                        img {
                            max-width: $news-width-height - 10vw;
                            max-height: 6vh;
                        }
                    }
                    .news-title {
                        height: 7.5vw;
                        text-align: center;
                        font-size: $desktop-font-h4-size;
                        @include row-center;
                    }
                    .news-date {
                        height: 2vw;
                        text-align: center;
                        font-size: 10px;
                        @include row-center;
                    }
                }
                @include media(tablet) {
                    $news-width-height: 23.5vw;
                    grid-template-columns: $news-width-height $news-width-height $news-width-height;
                    .news {
                        height: $news-width-height;
                        .news-image {
                            img {
                                max-width: $news-width-height - 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media(small) {
    .about-container {
        font-size: $desktop-font-h4-size;
        .about-content {
            .about-description {
                // display: none !important;
                width: 100vw;
                height: 100vh;
                @include column-center;
                @include column-center;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 $desktop-horizontal-padding-light-green;
                h2 {
                    margin-top: 30vh;
                    font-size: $desktop-font-h1-size;
                }
                content {
                    width: 60%;
                    font-size: $desktop-font-h4-size;
                }
            }
            .about-team {
                // display: none;
                width: 100vw;
                height: 100vh;
                @include row-center;
                h2 {
                    font-size: $desktop-font-h2-size;
                }
                .team-content {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    .team-description {
                        padding: 0 $desktop-horizontal-padding-light-green;
                        .team-member {
                            margin-top: $desktop-vertical-margin-light-yellow;
                            margin-bottom: $desktop-vertical-margin-light-pink;
                            width: 100%;
                            .member {
                                font-size: $desktop-font-body-size;
                                margin-bottom: 15px;
                                .name {
                                    font-family: $theme-font-type-roboto-condensed;
                                    width: 30%;
                                }
                                .position {
                                    width: 70%;
                                }
                                @include media(tablet) {
                                    .name {
                                        width: 35%;
                                    }
                                    .position {
                                        width: 65%;
                                    }
                                }
                            }
                        }
                    }
                }
                .article-video {
                    position: relative;
                    height: 100%;
                    width: 50%;
                }
            }
            .about-news {
                // display: none; 
                margin: $desktop-vertical-margin-sky-blue 0;
                width: 100vw;
                height: auto;
                padding: 0 $desktop-horizontal-padding-light-green;
                h2 {
                    color: $theme-color-black;
                }
                .news-articles {
                    width: 100%;
                    height: auto;
                    display: grid;
                    justify-content: space-between;
                    $news-width-height: 17.8vw;
                    grid-template-columns: $news-width-height $news-width-height $news-width-height $news-width-height;
                    grid-row-gap: 3vw;
                    .news {
                        width: 100%;
                        height: $news-width-height;
                        background: #f0f0f0;
                        padding: 0 2vw;
                        @include column-center;
                        justify-content: space-between;
                        .news-image {
                            margin-top: 2vw;
                            height: 6vw;
                            @include row-center;
                            img {
                                max-width: $news-width-height - 4vw;
                                max-height: 5vw;
                            }
                        }
                        .news-title {
                            height: 7.5vw;
                            text-align: center;
                            font-size: $desktop-font-h4-size;
                            @include row-center;
                        }
                        .news-date {
                            height: 2vw;
                            text-align: center;
                            font-size: 10px;
                            @include row-center;
                        }
                    }
                    @include media(tablet) {
                        $news-width-height: 23.5vw;
                        grid-template-columns: $news-width-height $news-width-height $news-width-height;
                        .news {
                            height: $news-width-height;
                            .news-image {
                                img {
                                    max-width: $news-width-height - 4vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    h1 {
        color: $theme-color-yellow;
    }
    h2 {
        font-size: $desktop-font-h1-size;
    }
}

h2 {
    color: $theme-color-pink;
}