<section class="about-container">
    <section class="main-title-container" [@containerState]='states.container1'>
        <div class="main-title" [@titleStaggerAnimation]="true">
            <li>A</li>
            <li>b</li>
            <li>o</li>
            <li>u</li>
            <li>t</li>
        </div>
    </section>
    <section class="about-content" [@containerState]='states.container2'>
        <div class="about-description">
            <h1>About</h1>
            <content>
                <p>
                    We are a data solutions company based in Brisbane, working closely with businesses across the natural resources industry to transform their big data challenges into real-time, actionable insights
                </p>
                <p>
                    We use a distinct combination of artificial intelligence, machine learning, and user-centric design to create scalable solutions that allow our clients to optimise workflows and maximise productivity.
                </p>
            </content>
        </div>
        <div class="about-team ">
            <div class="team-description ">
                <h1>
                    Our Team
                </h1>
                <content>
                    <p>
                        As a team of business analysts, user experience designers, and software developers, we bring diverse knowledge and skills to our work. We value quality and…...
                    </p>
                    <p>
                        Founded in 2017 and based in Brisbane, Australia, we are supported by the University of Queensland’s iLab Germinate program for entrepreneurs and Unearthed Solutions.
                    </p>
                </content>
                <div class="team-member">
                    <div class="member">
                        <span class="name">Khoi Phan</span>
                        <span class="position">Co-founder, CEO</span>
                    </div>
                    <div class="member">
                        <span class="name">Julia Hunyh</span>
                        <span class="position">Co-founder, Head of Business</span>
                    </div>
                    <div class="member">
                        <span class="name">Andrea Yee</span>
                        <span class="position">Co-founder, Head Designer</span>
                    </div>
                    <div class="member">
                        <span class="name">Jeremy Ng</span>
                        <span class="position">Lead Web Developer</span>
                    </div>
                    <div class="member">
                        <span class="name">Kimberley Lee</span>
                        <span class="position">Lead Marketing Coordinator</span>
                    </div>
                </div>
            </div>
            <div class="article-video"></div>
        </div>
        <div class="about-news">
            <h1>In the news</h1>
            <div class="news-articles">
                <div class="news" *ngFor="let article of newsArticles">
                    <div class="news-image">
                        <img src={{article.imgURL}} alt={{article.imgALT}}>
                    </div>
                    <div class="news-title">
                        {{article.title}}
                    </div>
                    <div class="news-date">
                        {{article.date}}
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</section>