<section class="about-container">
    <section id="about-content" class="about-content">
        <div class="about-description">
            <h2>About</h2>
            <content>
                <p>
                    We are a data solutions company based in Brisbane, working closely with businesses across the natural resources industry to transform their big data challenges into real-time, actionable insights
                </p>
                <p>
                    We use a distinct combination of artificial intelligence, machine learning, and user-centric design to create scalable solutions that allow our clients to optimise workflows and maximise productivity.
                </p>
            </content>
        </div>
        <div class="about-team ">
            <div class="team-content">
                <div class="team-description">
                    <h2>
                        Our Team
                    </h2>
                    <content>
                        <p>
                            As a team of business analysts, user experience designers, and software developers, we bring diverse knowledge and skills to our work. We value quality and…...
                        </p>
                        <p>
                            Founded in 2017 and based in Brisbane, Australia, we are supported by the University of Queensland’s iLab Germinate program for entrepreneurs and Unearthed Solutions.
                        </p>
                    </content>
                    <div class="team-member">
                        <div class="member" *ngFor="let member of teamMembers" (click)="switchTeamMemberContent(member.name)">
                            <span class="name">{{member.name}}</span>
                            <span class="position">{{member.position}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-video"></div>
        </div>
        <div class="about-news">
            <h2>In the news</h2>
            <div class="news-articles">
                <div class="news" *ngFor="let article of newsArticles">
                    <div class="news-image">
                        <img src={{article.imgURL}} alt={{article.imgALT}}>
                    </div>
                    <div class="news-title">
                        {{article.title}}
                    </div>
                    <div class="news-date">
                        {{article.date}}
                    </div>
                </div>
            </div>
        </div>
        <app-next-page-prompt></app-next-page-prompt>
        <app-footer></app-footer>
    </section>
</section>

<section class="content-slider" *ngIf="contentSliderTriggered">
    <div class="left-slider" [@contentLeftSlideAnimation]="true"></div>
    <div class="right-slider" [@contentRightSlideAnimation]="true"></div>
</section>