<section class="what-we-offer-container">
    <section class="main-title-container" [@containerState]='states.container1'>
        <div class="main-title" [@titleStaggerAnimation]="true">
            <li>A</li>
            <li>b</li>
            <li>o</li>
            <li>u</li>
            <li>t</li>
        </div>
    </section>
    <section class="what-we-offer-content" [@containerState]='states.container2'>
        <div class="what-we-offer-description">
            <h1>About us</h1>
            <content>
                <p>
                    Our work is inspired by a true understanding of data transformation and a hunger to develop seamless software systems.
                </p>
                <p>
                    We are driven by a desire for innovation and a vision to create the perfect combination of analytics and design.
                </p>
            </content>
        </div>
        <div class="what-we-offer-article data-visualisation">
            <div class="article-text ">
                <h2>
                    Data Visualisation
                </h2>
                <h4>
                    Better manage and control your data with advanced data processing and visualisation.
                </h4>
                <content>
                    <img class="article-image" src="assets/images/supporters/origin.png" alt="origin logo">
                    <blockquote class="aritcle-quote">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ul labore et dolore magna aliqua"
                    </blockquote>
                    <span class="article-quote-author">
                            Felicity Underhill, General Manager
                        </span>
                </content>
                <div class="article-action">
                    <span>Read Less</span>
                    <span>ENQUIRE</span>
                </div>
            </div>
            <div class="article-video"></div>
        </div>
        <div class="what-we-offer-overview">
            <h1>Service Overview</h1>
            <content>
                <ul>
                    <li>Automatically sift through large databases</li>
                    <li>Make more cost-effective decisions through better insights into existing databases</li>
                    <li>Empower operators to carry out actions more confidently</li>
                </ul>
            </content>
        </div>
    </section>
</section>