@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
@include media(small) {
    .about-container {
        width: 100vw;
        height: 100vh;
        color: $theme-font-grey;
        font-family: $theme-font-type-roboto;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: $tablet-font-h4-size;
        font-weight: 300;
        top: 0;
        left: 0;
        @include column-center;
        .main-title-container {
            position: absolute;
            width: 100vw;
            height: 100vh;
            text-transform: uppercase;
            letter-spacing: 17.66px;
            font-size: $tablet-font-hero-size;
            font-weight: bold;
            .main-title {
                @include row-center;
                list-style-type: none;
                width: 100vw;
                height: 100vh;
                li {
                    margin-right: 10px;
                    color: $theme-font-white;
                }
            }
        }
        .about-content {
            position: absolute;
            width: 100vw;
            height: auto;
            background: white;
            color: $theme-font-grey;
            overflow-y: scroll;
            overflow-x: hidden;
            .about-description {
                // display: none;
                width: 100vw;
                height: 100vh;
                @include column-center;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 $tablet-horizontal-padding-light-green;
                h1 {
                    margin-top: 35vh;
                }
                content {
                    width: 60%;
                }
            }
            .about-team {
                // display: none;
                width: 100vw;
                height: 100vh;
                @include row-center;
                .team-description {
                    height: 100%;
                    width: 50%;
                    padding: 0 $tablet-horizontal-padding-light-green;
                    @include column-center;
                    align-items: flex-start;
                    justify-content: flex-end;
                    .team-member {
                        margin-top: $tablet-vertical-margin-light-yellow;
                        margin-bottom: $tablet-vertical-margin-light-pink;
                        width: 100%;
                        .member {
                            display: flex;
                            font-size: $tablet-font-body-size;
                            margin-bottom: 15px;
                            .name {
                                font-family: $theme-font-type-roboto-condensed;
                                font-weight: bold;
                                width: 30%;
                            }
                            .position {
                                width: 70%;
                            }
                        }
                    }
                }
                .article-video {
                    height: 100%;
                    width: 50%;
                    background: #999;
                }
            }
            .about-news {
                // display: none; 
                margin: $tablet-vertical-margin-sky-blue 0;
                width: 100vw;
                height: auto;
                padding: 0 $tablet-horizontal-padding-light-green;
                .news-articles {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: 17.8vw 17.8vw 17.8vw 17.8vw;
                    grid-row-gap: 3vw;
                    $news-height: 17.8vw;
                    grid-column-gap: 3vw;
                    .news {
                        width: 100%;
                        height: $news-height;
                        background: #f0f0f0;
                        padding: 0 2vw;
                        .news-image {
                            margin-top: 2vw;
                            height: 6vw;
                            @include row-center;
                            img {
                                max-width: $news-height - 4vw;
                                max-height: 5vw;
                            }
                        }
                        .news-title {
                            height: 7.5vw;
                            text-align: center;
                            font-size: $tablet-font-h4-size;
                            @include row-center;
                        }
                        .news-date {
                            height: 2vw;
                            text-align: center;
                            font-size: 10px;
                            @include row-center;
                        }
                    }
                }
            }
        }
    }
    h1 {
        font-family: $theme-font-type-roboto-condensed;
        font-size: $tablet-font-h1-size;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 7.5px;
        margin-bottom: $tablet-vertical-margin-dark-blue;
    }
    h2 {
        text-transform: uppercase;
        font-family: $theme-font-type-roboto-condensed;
        font-size: $tablet-font-h2-size;
        font-weight: bold;
        letter-spacing: 6px;
        margin-bottom: $tablet-vertical-margin-light-yellow;
    }
    h4 {
        font-size: $tablet-font-h4-size;
        letter-spacing: 3px;
        margin-bottom: $tablet-vertical-margin-light-yellow;
    }
    content {
        letter-spacing: 2.68px;
        line-height: 22.5px;
    }
}