@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.newsletter-container {
    width: 90vw;
    height: auto;
    color: $theme-color-grey;
    font-family: $theme-font-type-roboto;
    font-size: $mobile-font-h4-size;
    font-weight: $desktop-font-standard-weight;
    letter-spacing: $desktop-font-standard-spacing;
    border: rgba(200, 200, 200, 0.7) solid 0.5px;
    background: white;
    @include column-center;
    justify-content: flex-start;
    padding: $mobile-vertical-margin-red;
    .newsletter-header {
        text-transform: uppercase;
        @include row-center;
        align-items: flex-start;
        .title {
            font-size: $mobile-font-h3-size;
            width: 80%;
        }
        .close-button {
            font-size: 12px;
            width: 20%;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }
    }
    .subscription-form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .form-input {
            width: 100%;
            margin-bottom: 2vh;
            input[type=text] {
                font-family: $theme-font-type-roboto !important;
                font-size: $desktop-font-body-size;
                box-sizing: border-box;
                padding: 0 0.5vw 1vh 0.5vw;
                text-align: left;
                width: 100%;
                border: 0;
                border-bottom: black solid 1px !important;
                background: transparent;
                color: black;
            }
            small {
                font-size: 0.7rem;
                color: red;
            }
        }
        #submit-button {
            margin-top: 0.5vh;
            width: auto;
            height: auto;
            text-align: center;
            padding: 0.75vh 1.5vw;
            border: 1px solid $theme-color-grey;
            color: $theme-color-grey;
            letter-spacing: 1px;
            text-shadow: 0;
            opacity: 0.6;
            cursor: pointer;
            font: {
                size: $desktop-font-h4-size;
                weight: bold;
                family: $theme-font-type-roboto;
            }
            transition: all 0.25s ease;
            &:active {
                letter-spacing: 2px;
            }
            &:valid {
                opacity: 1;
            }
        }
    }
}

@include media(small) {
    .newsletter-container {
        width: 30vw;
        height: 35vh;
        padding: $desktop-vertical-margin-dark-blue;
        .newsletter-header {
            align-items: flex-start;
            .title {
                font-size: 22px;
                width: 75%;
            }
            .close-button {
                font-size: 12px;
                width: 25%;
            }
        }
        .subscription-form {
            .form-input {
                width: 75%;
                margin-bottom: 2vh;
                input[type=text] {
                    padding: 0 0.5vw 1vh 0.5vw;
                    width: 100%;
                    border: 0;
                }
                small {
                    font-size: 0.7rem;
                }
            }
            #submit-button {
                margin-top: 0.5vh;
                padding: 0.75vh 1.5vw;
                border: 1px solid $theme-color-grey;
            }
        }
    }
}