<section class="team-container ">
    <div class="team-content">
        <div class="team-member-description">
            <span class="back-button" (click)="backToPreviousPage()">&#8592; BACK</span>
            <div class="member-name">
                {{currentMember.name}}
            </div>
            <content class="member-description">
                {{currentMember.description}}
            </content>
            <div class="social-media">
                <nav><a href="https://twitter.com/ModulrAU" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></nav>
                <nav><a href="https://www.linkedin.com/company/18195994/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></nav>
            </div>
        </div>
    </div>
    <div class="article-video"></div>
</section>