@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
.press-main-container {
    width: 100vw;
    color: $theme-font-white;
    font-family: $theme-font-type-roboto-light;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: $theme-mobile-content-line-height;
    font-size: $mobile-font-standard-size;
    font-weight: 300;
    text-transform: uppercase;
    .press-container-content {
        width: 100%;
        height: auto;
        padding: 0 $mobile-horizontal-padding 0 $mobile-horizontal-padding;
        .first {
            margin-top: $mobile-vertical-margin-yellow * 3;
        }
        h2 {
            width: 100%;
            font-family: $theme-font-type-roboto;
            font-size: $mobile-font-standard-title-size;
            text-transform: uppercase;
            margin-top: $mobile-title-top-margin;
            margin-bottom: $mobile-title-bottom-margin;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .press-block {
            width: 100%;
            height: auto;
            @include column-center;
            align-items: flex-start;
            text-transform: uppercase;
            margin-bottom: $mobile-title-top-margin;
            a {
                text-decoration: none;
            }
            .press-headline {
                height: 100%;
                font-size: 1.2rem;
                margin-bottom: $mobile-vertical-margin-purple;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                .press-date {
                    height: 100%;
                    font-size: 0.9rem;
                    font-weight: 300;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .press-picture {
                width: 100%;
                height: 20vh;
                @include row-center;
                margin-bottom: $mobile-vertical-margin-pink;
                background-position: center left;
            }
            .mining-com {
                background-image: url("/assets/images/press/mining.com.jpg");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .unearthed-solution {
                background-image: url("/assets/images/press/unearthed_article.jpg");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .australian-mining {
                background-image: url("/assets/images/press/austmininglogo.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .austmine-com {
                background-image: url("/assets/images/press/austmine.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .unearthed {
                background-image: url("/assets/images/press/unearthed-logo-300.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .press-description {
                font-size: 0.9rem;
            }
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
    .last {
        margin-bottom: $mobile-vertical-margin-yellow;
    }
}

@include media(tablet) {
    a {
        text-decoration: none;
        transition: 0.3s;
    }
    .press-main-container {
        line-height: normal;
        font-size: $tablet-font-standard-size;
        .press-container-content {
            padding: 0 $tablet-horizontal-padding 0 $tablet-horizontal-padding;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .first {
                margin-top: $tablet-vertical-margin-pink * 1.5;
                margin-bottom: $tablet-vertical-margin-purple;
            }
            h2 {
                font-size: $tablet-font-standard-title-size;
            }
            .press-block {
                width: 45%;
                margin-bottom: $tablet-vertical-margin-pink;
                justify-content: flex-start;
                a {
                    &:hover {
                        .press-description {
                            text-decoration: underline;
                        }
                    }
                }
                .press-picture {
                    height: 30vh;
                    margin-bottom: $tablet-vertical-margin-blue;
                }
            }
        }
        .last {
            margin-bottom: $tablet-vertical-margin-pink;
        }
    }
}