<section class="press-main-container">
    <div class="press-container-content theproblem last">
        <h2 class="first">hot off the press</h2>
        <nav class="press-block">
            <a href="http://www.mining.com/ready-impact-four-tech-startups-graduate-unearthed-accelerator-2017-demo-day/ ">
                <div class="press-headline">
                    <span> Mining.com - &nbsp;</span>
                    <div class="press-date">December 08 2017</div>
                </div>
                <div class="press-picture mining-com"></div>
                <div class="press-description">Modulr showcases technology at the Unearthed Brisbane Demo Day</div>
            </a>
        </nav>
        <nav class="press-block">
            <a href="https://unearthed.solutions/ready-for-impact-four-tech-startups-graduate-unearthed-accelerator-2017-at-de">
                <div class="press-headline">
                    <!-- <span> Unearthed Solutions - &nbsp;</span> -->
                    <span> Unearthed Solutions - &nbsp;</span>
                    <div class="press-date">December 05 2017</div>
                </div>
                <div class="press-picture unearthed-solution"></div>
                <div class="press-description">Ready for impact - four tech startups graduate unearthed accelerator 2017 at demo day</div>
            </a>
        </nav>
        <nav class="press-block">
            <a href="https://www.australianmining.com.au/news/unearthed-accelerator-program-kicks-off/ ">
                <div class="press-headline">
                    <span> Australian mining - &nbsp;</span>
                    <div class="press-date">July 20 2017</div>
                </div>
                <div class="press-picture australian-mining"></div>
                <div class="press-description">Modulr featured in Australian mining</div>
            </a>
        </nav>
        <nav class="press-block">
            <a href="http://www.austmine.com.au/News/meet-the-six-accelerator-teams ">
                <div class="press-headline">
                    <span> Austmine.com - &nbsp;</span>
                    <div class="press-date">July 13 2017</div>
                </div>
                <div class="press-picture austmine-com"></div>
                <div class="press-description">Meet the 6 startups in the Unearthed Accelerator</div>
            </a>
        </nav>
        <nav class="press-block">
            <a href="https://unearthed.solutions/accelerator/ ">
                <div class="press-headline">
                    <span> Australian mining - &nbsp;</span>
                    <div class="press-date">July 13 2017</div>
                </div>
                <div class="press-picture unearthed"></div>
                <div class="press-description">Modulr joins the unearthed brisbane accelerator</div>
            </a>
        </nav>
    </div>
    <app-footer></app-footer>
</section>