@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.solution-main-container {
    width: 100vw;
    // height: $main-container-height;
    color: $theme-font-white;
    font-family: $theme-font-type-roboto;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: $theme-mobile-content-line-height;
    font-size: $mobile-font-standard-size;
    font-weight: 300;
    .solution-container-content {
        width: 100%;
        height: auto;
        padding: 0 $mobile-horizontal-padding 0 $mobile-horizontal-padding;
        .first {
            margin-top: $mobile-vertical-margin-yellow * 3;
        }
        h2 {
            width: 100%;
            font-family: $theme-font-type-roboto;
            font-size: $mobile-font-standard-title-size;
            text-transform: uppercase;
            margin-top: $mobile-title-top-margin;
            margin-bottom: $mobile-title-bottom-margin;
            font-weight: 700;
            letter-spacing: 2px;
        }
        content {
            font-weight: 300;
            line-height: $theme-mobile-content-line-height;
        }
    }
    li {
        margin-left: 5vw;
        text-align: left;
    }
    .last {
        margin-bottom: $mobile-vertical-margin-yellow;
    }
}

@include media(tablet) {
    .solution-main-container {
        width: 100vw;
        // height: $main-container-height;
        color: $theme-font-white;
        font-family: $theme-font-type-roboto;
        overflow-y: scroll;
        overflow-x: hidden;
        line-height: $theme-tablet-content-line-height;
        font-size: $tablet-font-standard-size;
        font-weight: 100;
        .solution-container-content {
            width: 100%;
            height: auto;
            padding: 0 $tablet-horizontal-padding 0 $tablet-horizontal-padding;
            margin-bottom: $tablet-vertical-margin-skin;
            .first {
                margin-top: $tablet-vertical-margin-pink * 1.5;
            }
            h2 {
                width: 100%;
                font-family: $theme-font-type-roboto;
                font-size: $tablet-font-standard-title-size;
                line-height: $theme-tablet-title-line-height;
                font-weight: 700;
                letter-spacing: 2px;
                margin-top: 0;
                text-transform: uppercase;
            }
            content {
                line-height: $theme-tablet-content-line-height;
            }
        }
        .last {
            margin-bottom: $tablet-vertical-margin-pink;
        }
    }
}