<section class="solution-main-container">
    <div class="solution-container-content revolution">
        <h2 class="first">The fusion of technologies is blurring the lines between the physical, digital, and biological spheres. We are now entering Industrial Revolution 4.0. </h2>
        <content>
            Big data is so vast, that organising it for analysis becomes a challenge in itself. Large datasets require an immense amount of computing power to work through, and an even greater number of assumptions and algorithms to produce results. Much of the data
            in oil and gas is underutilised. This presents an opportunity for more data-driven solutions to extract valuable information from historical and incoming data.
        </content>
    </div>
    <!-- <div class="solution-container-content solution">
      <h2>DRILLR INSIGHT</h2>
      <content>
          <p>
              DRILLR INSIGHT &trade; is our flagship product, which integrates artificial intelligence, big data analytics, and user interface design to provide predictive information and business intelligence to oil and gas operators
          </p>
          <p>
              DRILLR INSIGHT &trade; tells users how they are performing against the benchmark of the operation in real time so that drilling teams can confidently optimise their activities.
          </p>
          <p>
              <ul>
                  <li>
                      Automatically analyses data to display analytics in real time.
                  </li>
                  <li>
                      Provides actionable suggestions to improve performance.
                  </li>
                  <li>
                      Learns and shows insights from historical data.
                  </li>
                  <li>
                      Achieves more consistency in operational results.
                  </li>
                  <li>
                      Presents an enhanced readability and ease-of-use interface.
                  </li>
              </ul>
      </content>
  </div> -->
    <div class="solution-container-content  benefits">
        <h2>benefits of our technology</h2>
        <content>
            <ul>
                <li>
                    Empower operators to carry out actions more confidently
                </li>
                <li>
                    Make more cost-effective decisions through better insights into operations
                </li>
                <li>
                    Increase drilling efficiency
                </li>
                <li>
                    Minimise capital expenditures
                </li>
            </ul>
        </content>
    </div>
    <div class="solution-container-content contact last">
        <h2>contact</h2>
        <app-contact-form></app-contact-form>
    </div>
    <app-footer></app-footer>