@import '_variables';
@import '_mixins';
// For putting all the values for the main elements 
p {
    margin-top: $desktop-vertical-margin-dark-blue;
}

p:first-of-type {
    margin: 0;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.title-spacing {
    width: 40px;
}

.content-slider {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    .left-slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        background: black;
        // opacity: 0.5;
    }
    .right-slider {
        position: absolute;
        top: 0;
        left: 50vw;
        height: 100vh;
        width: 50vw;
        background: white;
    }
}

@include media(mobile) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@include media(tablet) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

@include media(small) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    h1 {
        font-family: $theme-font-type-roboto-condensed;
        font-size: $desktop-font-h1-size;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 7.5px;
        margin-bottom: $desktop-vertical-margin-dark-blue;
    }
    h2 {
        text-transform: uppercase;
        font-family: $theme-font-type-roboto-condensed;
        font-size: $desktop-font-h2-size;
        font-weight: bold;
        letter-spacing: 6px;
        margin-bottom: $desktop-vertical-margin-light-yellow;
    }
    h4 {
        font-size: $desktop-font-h4-size;
        letter-spacing: 3px;
        margin-bottom: $desktop-vertical-margin-light-yellow;
    }
    content {
        letter-spacing: 2.68px;
        line-height: 22.5px;
    }
}