@import '_variables';
@import '_mixins';
// For putting all the values for the main elements 
p {
    margin-top: 2.5vh;
}

p:first-of-type {
    margin: 0;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.title-spacing {
    width: 40px;
}

@include media(tablet) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}