.button-animation {
    border: solid 3px transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    &::before,
    &::after,
    span::before,
    span::after {
        content: '';
        width: 20%;
        height: 20%;
        position: absolute;
        width: 10px;
        height: 10px;
        transition: 1s;
        mix-blend-mode: hue;
        border: solid 3px $theme-color-sky-blue;
    }
    &::before {
        top: -2px;
        left: -2px;
        border-right: none;
        border-bottom: none;
    }
    &::after {
        top: -2px;
        right: -2px;
        border-left: none;
        border-bottom: none;
    }
    span::before {
        bottom: -2px;
        left: -2px;
        border-right: none;
        border-top: none;
    }
    span::after {
        bottom: -2px;
        right: -2px;
        border-left: none;
        border-top: none;
    }
    &:hover {
        background: $theme-color-sky-blue !important;
        color: white !important;
        &::before,
        &::after,
        span::before,
        span::after {
            width: calc(100% / 2);
            height: calc(100% / 2);
        }
    }
}

.underline-animation {
    width: auto;
    height: auto;
    position: relative;
    &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        border: transparent solid 2px;
        padding-bottom: 5px;
    }
    &:hover {
        &::before {
            animation: 2s underline-animation forwards;
        }
    }
}

@keyframes underline-animation {
    0% {
        width: 0%;
        height: 100%;
    }
    50% {
        width: 100%;
        height: 100%;
        border-bottom: black solid 2px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-bottom: black solid 2px;
    }
}

.fade-in-effect {
    animation: 1s fade-in-animation ease-in-out forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.heading-block-transition {
    position: relative;
    animation: 1.25s testm forwards;
    opacity: 1 !important;
    &::before {
        content: '';
        background: #2c2c2c;
        height: 100%;
        position: absolute;
        animation: 1.25s heading-block-animation ease-in-out forwards;
        animation-iteration-count: 1;
    }
}

@keyframes heading-block-animation {
    0% {
        left: 0;
        top: 0;
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        right: 0;
        top: 0;
        width: 0%;
    }
}

@keyframes testm {
    0% {
        color: transparent;
        img {
            display: none;
        }
    }
    60% {
        color: transparent;
    }
    100% {
        color: black;
        img {
            display: block;
        }
    }
}

.animation-delay {
    animation-delay: 1s;
    &::before {
        animation-delay: 1s;
    }
}

.image-slide-left-animation {
    position: relative;
    animation: 1.25s image-slide-left-animation ease-in-out;
}

@keyframes image-slide-left-animation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.image-block-transition {
    @extend .heading-block-transition;
    &::before {
        right: 0;
        background: white;
        animation: 1.25s image-block-animation ease-in-out forwards;
        z-index: 1;
    }
}

@keyframes image-block-animation {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}