.button-animation {
    border: solid 3px transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    &::before {
        content: '';
        position: absolute;
        left: -4px;
        top: -3px;
        width: 0%;
        height: 0%;
        border: solid 3px transparent;
    }
    &::after {
        content: '';
        position: absolute;
        left: -4px;
        top: -3px;
        width: 0%;
        height: 0%;
        border: solid 3px transparent;
    }
    &:hover {
        // color: white !important;
        background: transparentize($color: $theme-color-sky-blue, $amount: 0.85) !important;
        &::before {
            animation: animate 2s forwards;
        }
        &::after {
            animation: animate1 2s forwards;
        }
    }
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 100%;
        height: 0%;
        border-top-color: $theme-color-sky-blue;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: $theme-color-sky-blue;
        border-right-color: $theme-color-sky-blue;
    }
}

@keyframes animate1 {
    0% {
        width: 0%;
        height: 0%;
    }
    50% {
        width: 0%;
        height: 100%;
        border-left-color: $theme-color-sky-blue;
    }
    100% {
        width: 100%;
        height: 100%;
        border-left-color: $theme-color-sky-blue;
        border-bottom-color: $theme-color-sky-blue;
    }
}

.underline-animation {
    width: auto;
    height: auto;
    position: relative;
    &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        border: transparent solid 2px;
        padding-bottom: 5px;
    }
    &:hover {
        &::before {
            animation: 2s underline-animation forwards;
        }
    }
}

@keyframes underline-animation {
    0% {
        width: 0%;
        height: 100%;
    }
    50% {
        width: 100%;
        height: 100%;
        border-bottom: black solid 2px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-bottom: black solid 2px;
    }
}