///////////////////////
// New Style Guide
// Color Guide
$theme-color-white: #f5f5f5;
$theme-color-grey: #1D1D1D;
$theme-color-black: #000;
$theme-color-sky-blue: #69C7C2;
$theme-color-pink: #EB7C84;
$theme-color-yellow: #E0AE49;
// Font Guide 
$theme-font-type-montserrat: 'Montserrat',
sans-serif;
$theme-font-type-roboto-condensed: 'Roboto Condensed',
sans-serif;
$theme-font-type-roboto: 'Roboto',
sans-serif;
// Structure Guide
$header-height: 10vh;
$main-container-height: 100vh;
////////////////////////////////
//// Mobile Version
// font-size
$mobile-font-hero-size: 55px;
$mobile-font-h1-size: 50px;
$mobile-font-h2-size: 40px;
$mobile-font-h3-size: 20px;
$mobile-font-h4-size: 18px;
$mobile-font-body-size: 16px;
// margin and padding
$mobile-horizontal-padding-light-red: 5vw;
$mobile-horizontal-padding-light-green: 10vw;
$mobile-vertical-margin-green: 15vh;
$mobile-vertical-margin-blue: 15vh;
$mobile-vertical-margin-red: 5vh;
$mobile-vertical-margin-orange: 3.5vh;
$mobile-vertical-margin-purple: 3vh;
////////////////////////////////
//// Desktop Version
// font-size
$desktop-font-h1-size: 70px;
$desktop-font-h2-size: 45px;
$desktop-font-standard-spacing: 3px;
$desktop-font-standard-weight: 300;
$desktop-font-hero-size: 100px;
$desktop-font-h3-size: 20px;
$desktop-font-h4-size: 16px;
$desktop-font-body-size: 14px;
// margin and padding
$desktop-horizontal-padding-light-red: 5vw;
$desktop-horizontal-padding-light-green: 10vw;
$desktop-vertical-margin-dark-blue: 2.5vh;
$desktop-vertical-margin-light-yellow: 3.5vh;
$desktop-vertical-margin-light-pink: 14vh;
$desktop-vertical-margin-dark-green: 5.5vh;
$desktop-vertical-margin-sky-blue: 16vh;
$desktop-vertical-margin-orange: 3vh;