/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    color: #4d4d4d;
}

* {
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
}

::-webkit-scrollbar {
    width: 0vw;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient(180deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}