/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    color: #4d4d4d;
}

* {
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}