@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.what-we-offer-container {
    width: 100vw;
    height: 100vh;
    color: #1D1D1D;
    font-family: $theme-font-type-roboto;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: $tablet-font-body-size;
    font-weight: 300;
    top: 0;
    left: 0;
    @include column-center;
    .main-title-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-transform: uppercase;
        letter-spacing: 17.66px;
        font-size: $tablet-font-hero-size;
        font-weight: bold;
        .main-title {
            @include row-center;
            list-style-type: none;
            width: 100vw;
            height: 100vh;
            li {
                margin-right: 10px;
            }
        }
    }
    .what-we-offer-content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: white;
        color: $theme-font-grey;
        overflow-y: scroll;
        overflow-x: hidden;
        .what-we-offer-description {
            width: 100vw;
            height: 100vh;
            @include column-center;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 $tablet-horizontal-padding-light-green;
            // display: none;
            content {
                width: 60%;
            }
        }
        .what-we-offer-article {
            width: 100vw;
            height: 100vh;
            @include row-center;
            .article-text {
                height: 100%;
                width: 50%;
                padding: 0 $tablet-horizontal-padding-light-green;
                @include column-center;
                align-items: flex-start;
                justify-content: flex-end;
                .article-action {
                    width: 100%;
                    margin-top: 15vh;
                    margin-bottom: $tablet-vertical-margin-light-pink;
                    text-transform: uppercase;
                    @include row-center;
                    justify-content: space-between;
                }
            }
            .article-video {
                height: 100%;
                width: 50%;
                background: #999;
            }
        }
    }
}

h1 {
    font-family: $theme-font-type-roboto-condensed;
    font-size: $tablet-font-h1-size;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7.5px;
    margin-bottom: $tablet-vertical-margin-light-blue;
    margin-top: 40vh;
}

h2 {
    text-transform: uppercase;
    font-family: $theme-font-type-roboto-condensed;
    font-size: $tablet-font-h2-size;
    font-weight: bold;
    letter-spacing: 6px;
    margin-bottom: $tablet-vertical-margin-light-yellow;
}

content {
    font-size: $tablet-font-body-size;
    letter-spacing: 2.68px;
    line-height: 22.5px;
}