<section class="what-we-offer-container">
    <section class="main-title-container" [@containerState]='states.container1'>
        <div class="main-title" [@titleStaggerAnimation]="true">
            <li>W</li>
            <li>h</li>
            <li>a</li>
            <li>t</li>
            <div class="title-spacing"></div>
            <li>W</li>
            <li>e</li>
            <div class="title-spacing"></div>
            <li>O</li>
            <li>f</li>
            <li>f</li>
            <li>e</li>
            <li>r</li>
        </div>
    </section>
    <section class="what-we-offer-content" [@containerState]='states.container2'>
        <div class="what-we-offer-description">
            <h1>What we offer</h1>
            <content>
                <p>
                    Our work is inspired by a true understanding of data transformation and a hunger to develop seamless software systems.
                </p>
                <p>
                    We are driven by a desire for innovation and a vision to create the perfect combination of analytics and design.
                </p>
            </content>
        </div>
        <div class="what-we-offer-article">
            <div class="article-text"></div>
            <div class="article-video"></div>
        </div>
    </section>
</section>