<section id="what-we-offer-container" class="what-we-offer-container">
    <section id="what-we-offer-content" class="what-we-offer-content">
        <div class="what-we-offer what-we-offer-description">
            <h2 class="heading-block-transition">What we offer</h2>
            <content [ngClass]="{'fade-in-effect': isContainer1Shown, 'animation-delay': isContainer1Shown}">
                <p>
                    Our technology is inspired by a true understanding of data transformation and a hunger to develop cross functional software systems.
                </p>
                <p>
                    We are driven by a desire for innovation and a vision to create the perfect combination of analytics, usability, and design to help you identify big data opportunities in your organisation.
                </p>
            </content>
        </div>
        <div class="what-we-offer what-we-offer-article" id="{{content.className}}" *ngFor="let content of whatWeOfferContent" [ngClass]="{'fade-in-effect': isContainer2Shown}">
            <div class="article-text">
                <h2>
                    {{content.title}}
                </h2>
                <content class="initial-content" *ngIf="!showContent[content.title]">
                    <div class="description">
                        {{content.description}}
                    </div>
                    <img class="article-image" src="assets/images/supporters/origin.png" alt="OriginEnergy logo">
                    <blockquote class="aritcle-quote">
                        "{{content.quote}}"
                    </blockquote>
                    <span class="article-quote-author">
                            {{content.quoteAuthor}}
                    </span>
                </content>
                <content class="more-content" *ngIf="showContent[content.title]">
                    <p *ngFor="let paragraph of content.moreContent">
                        {{paragraph}}
                    </p>
                </content>
                <div class="article-action">
                    <span *ngIf="!showContent[content.title]" (click)="toggleReadButton(content.title)" class="underline-animation">Read More  &nbsp; <i class="fas fa-arrow-right"></i></span>
                    <span *ngIf="showContent[content.title]" (click)="toggleReadButton(content.title)"><i class="fas fa-arrow-left"></i>&nbsp; Read Less</span>
                    <button class="enquire-button button-animation" name="enquire button" routerLink="/enquiry">ENQUIRE</button>
                </div>
            </div>
            <div class="article-video"></div>
        </div>
        <div class="what-we-offer what-we-offer-overview" [ngClass]="{'fade-in-effect': isContainer3Shown}">
            <h2>Service Overview</h2>
            <div class="overview-table mobile">
                <div class="overview-item">
                    <div class="item-name" (click)="toggleOverviewList('data visualisation')">
                        <span *ngIf="!isDataVisualisation">
                            <i class="fas fa-chevron-down" ></i>
                        </span>
                        <span *ngIf="isDataVisualisation">
                            <i class="fas fa-chevron-up" ></i> 
                        </span> &nbsp; data visualisation
                    </div>
                    <ul *ngIf="isDataVisualisation">
                        <li>Data clean up and processing</li>
                        <li>User-centered design</li>
                        <li>Cloud-based solutions</li>
                    </ul>
                </div>
                <div class="overview-item">
                    <div class="item-name" (click)="toggleOverviewList('big data')">
                        <span *ngIf="!isBigData">
                            <i class="fas fa-chevron-down" ></i>
                        </span>
                        <span *ngIf="isBigData">
                            <i class="fas fa-chevron-up" ></i>
                        </span> &nbsp; BIG DATA ANALYTICS
                    </div>
                    <ul *ngIf="isBigData">
                        <li>Data clean up and processing</li>
                        <li>User-centered design</li>
                        <li>Cloud-based solutions</li>
                        <li>Data usage logging</li>
                        <li>Extract actionable insights</li>
                    </ul>
                </div>
                <div class="overview-item">
                    <div class="item-name" (click)="toggleOverviewList('predictive model')">
                        <span *ngIf="!isPredictiveModel">
                            <i class="fas fa-chevron-down" ></i>
                        </span>
                        <span *ngIf="isPredictiveModel">
                            <i class="fas fa-chevron-up" ></i>
                        </span> &nbsp; PREDICTIVE MODELLING
                    </div>
                    <ul *ngIf="isPredictiveModel">
                        <li>Data clean up and processing</li>
                        <li>User-centered design</li>
                        <li>Cloud-based solutions</li>
                        <li>Data usage logging</li>
                        <li>Extract actionable insights</li>
                        <li>In-depth histirical data analysis</li>
                        <li>Analyse business processes to indentify potential application of predictive technology</li>
                    </ul>
                </div>
            </div>
            <div class="overview-table desktop">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="title">
                                <a href="/what-we-offer/#data-visualisation">
                                    DATA VISUALISATION
                                </a>
                            </th>
                            <th class="title">
                                <a href="/what-we-offer/#big-data-analytics">
                                    BIG DATA ANALYTICS
                                </a>
                            </th>
                            <th class="title">
                                <a href="/what-we-offer/#predictive-modelling">
                                    PREDICTIVE MODELLING
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="options">Data clean up and processing</td>
                            <td href="/what-we-offer/#data-visualisation">
                                <i class="fas fa-check"></i>
                            </td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">User-centered design</td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Cloud-base solutions</td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Data usage logging</td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Extract actionable insights</td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">In-depth histirocal data analysis</td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Analyse business processes to indentify potential application of predictive technology</td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="what-we-offer what-we-offer-assist" [ngClass]="{'fade-in-effect': isContainer4Shown}">
            <h2>Assisting you in</h2>
            <content>
                <div class="assist-content">
                    <div class="assist-image">
                        <img src="assets/images/graphics/Big_Data_Management.png" alt="Database Management icon">
                    </div>
                    <div class="assist-text">
                        Achieving better Big Data Management and organisation
                    </div>
                </div>
                <div class="assist-content">
                    <div class="assist-image">
                        <img src="assets/images/graphics/Empower.png" alt="Empower icon">
                    </div>
                    <div class="assist-text">
                        Empowering your team to carry out actions and decisions more confidently
                    </div>
                </div>
                <div class="assist-content">
                    <div class="assist-image">
                        <img src="assets/images/graphics/Cost_Effective.png" alt="Cost Efficient icon">
                    </div>
                    <div class="assist-text">
                        Making more cost-effective decisions with insightful information into existing databases
                    </div>
                </div>
            </content>
        </div>
        <div class="what-we-offer what-we-offer-get-in-touch">
            <div> find out what we can do for you</div>
            <h2 class="button-animation" routerLink="/enquiry">get in touch</h2>
        </div>
        <app-next-page-prompt></app-next-page-prompt>
        <app-footer></app-footer>
    </section>
</section>