<section id="what-we-offer-container" class="what-we-offer-container">
    <section class="main-title-container" [@containerState]='states.container1'>
        <div class="main-title" [@titleStaggerAnimation]="true">
            <li>W</li>
            <li>h</li>
            <li>a</li>
            <li>t</li>
            <div class="title-spacing"></div>
            <li>W</li>
            <li>e</li>
            <div class="title-spacing"></div>
            <li>O</li>
            <li>f</li>
            <li>f</li>
            <li>e</li>
            <li>r</li>
        </div>
    </section>
    <section id="what-we-offer-content" class="what-we-offer-content" [@containerState]='states.container2'>
        <div class="what-we-offer-description">
            <h1>What we offer</h1>
            <content>
                <p>
                    Our work is inspired by a true understanding of data transformation and a hunger to develop seamless software systems.
                </p>
                <p>
                    We are driven by a desire for innovation and a vision to create the perfect combination of analytics and design.
                </p>
            </content>
        </div>
        <div class="what-we-offer-article" id="{{content.className}}" *ngFor="let content of whatWeOfferContent">
            <div class="article-text">
                <h2>
                    {{content.title}}
                </h2>
                <content class="initial-content" *ngIf="!isReadMoreClicked" [@fadeAnimation]="true">
                    <div class="description">
                        {{content.description}}
                    </div>
                    <img class="article-image" src="assets/images/supporters/origin.png" alt="origin logo">
                    <blockquote class="aritcle-quote">
                        "{{content.quote}}"
                    </blockquote>
                    <span class="article-quote-author">
                            {{content.quoteAuthor}}
                    </span>
                </content>
                <content class="more-content" *ngIf="isReadMoreClicked" [@fadeAnimation]="true">
                    <p *ngFor="let paragraph of content.moreContent">
                        {{paragraph}}
                    </p>
                </content>
                <div class="article-action">
                    <span *ngIf="!isReadMoreClicked" (click)="toggleReadButton()" [@fadeAnimation]="true">Read More  &nbsp; <i class="fas fa-arrow-right"></i></span>
                    <span *ngIf="isReadMoreClicked" (click)="toggleReadButton()" [@fadeAnimation]="true"><i class="fas fa-arrow-left"></i>&nbsp; Read Less</span>
                    <span>ENQUIRE</span>
                </div>
            </div>
            <div class="article-video"></div>
        </div>
        <div class="what-we-offer-overview">
            <h2>Service Overview</h2>
            <div class="overview-table">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="title">DATA VISUALISATION</th>
                            <th class="title">BIG DATA ANALYTICS</th>
                            <th class="title">PREDICTIVE MODELLING</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="options">Data clean up and processing</td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">User-centered design</td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Cloud-base solutions</td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Data usage logging</td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Extract actionable insights</td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">In-depth histirocal data analysis</td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="options">Analyse business processes to indentify potential application of predictive technology</td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="what-we-offer-assist">
            <h2>Assisting you in</h2>
            <content>
                <ul>
                    <li>Automatically sift through large databases</li>
                    <li>Make more cost-effective decisions through better insights into existing databases</li>
                    <li>Empower operators to carry out actions more confidently</li>
                </ul>
            </content>
        </div>
        <app-next-page-prompt></app-next-page-prompt>
        <app-footer></app-footer>
    </section>
</section>

<section class="content-slider" *ngIf="contentSliderTriggered">
    <div class="left-slider" [@contentLeftSlideAnimation]="true"></div>
    <div class="right-slider" [@contentRightSlideAnimation]="true"></div>
</section>