@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.what-we-offer-container {
    width: 100vw;
    height: auto;
    color: $theme-color-grey;
    font-family: $theme-font-type-roboto;
    font-size: $mobile-font-h4-size;
    font-weight: $desktop-font-standard-weight;
    letter-spacing: $desktop-font-standard-spacing;
    @include column-center;
    .what-we-offer-content {
        position: relative;
        width: 100vw;
        height: auto;
        background: white;
        color: $theme-color-grey;
        .what-we-offer {
            width: 100vw;
            height: auto;
            @include column-center;
            justify-content: flex-start;
            align-items: flex-start;
            content {
                width: 100%;
                font-size: $mobile-font-h3-size;
            }
        }
        .what-we-offer-description {
            padding: $mobile-vertical-margin-green $mobile-horizontal-padding-light-red;
            h2 {
                font-size: $mobile-font-h1-size;
            }
        }
        .what-we-offer-article {
            width: 100vw;
            height: auto;
            @include row-center; // display: none;
            position: relative;
            h2 {
                font-size: $mobile-font-h2-size;
                color: $theme-color-pink;
            }
            .article-text {
                position: relative;
                z-index: 1;
                height: auto;
                width: 100%;
                padding: $mobile-vertical-margin-blue $mobile-horizontal-padding-light-red;
                @include column-center;
                align-items: flex-start;
                justify-content: flex-start;
                border-bottom: white solid 1px;
                content {
                    width: 100%;
                    min-height: 35vh;
                    font-size: $mobile-font-body-size;
                    color: white;
                    line-height: 150%;
                    .description {
                        margin-bottom: $desktop-vertical-margin-light-yellow;
                    }
                    img.article-image {
                        max-width: 20vw;
                        max-height: 10vh;
                    }
                    .aritcle-quote {
                        font-size: $mobile-font-body-size - 2px;
                        font-style: italic;
                        color: white;
                        font-weight: 100;
                    }
                    .article-quote-author {
                        font-size: $mobile-font-body-size - 4px;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                    }
                }
                .article-action {
                    width: 100%;
                    margin-top: 5vh;
                    text-transform: uppercase;
                    @include row-center;
                    justify-content: space-between;
                    span {
                        cursor: pointer;
                        font-size: $mobile-font-body-size;
                    }
                    .enquire-button {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        cursor: pointer;
                        background: $theme-color-sky-blue;
                        padding: 2vh 10vw;
                        color: white;
                        border: 0;
                        letter-spacing: 3px;
                        font-size: $mobile-font-h3-size;
                        opacity: 0.8;
                    }
                }
            }
            .article-video {
                position: absolute;
                z-index: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                overflow: hidden;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
        .what-we-offer-overview {
            margin: $desktop-vertical-margin-sky-blue 0;
            width: 100vw;
            height: auto;
            padding: 0 $desktop-horizontal-padding-light-red;
            a {
                text-decoration: none;
            }
            .overview-item {
                width: 100%;
                height: auto;
                margin-bottom: $mobile-vertical-margin-red;
                .item-name {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: $mobile-font-h3-size;
                    font-family: $theme-font-type-roboto-condensed;
                    border-bottom: rgba(0, 0, 0, 0.5) solid 0.5px;
                }
                ul {
                    list-style-type: none;
                    width: 100%;
                    font-size: $mobile-font-body-size;
                    li {
                        padding: 3vh 3vw;
                        &:nth-child(odd) {
                            background: #f0f0f0;
                        }
                    }
                }
            }
        }
        .what-we-offer-assist {
            margin: $desktop-vertical-margin-sky-blue 0;
            width: 100vw;
            height: auto;
            padding: 0 $desktop-horizontal-padding-light-green;
            font-size: $desktop-font-body-size;
            h2 {
                color: $theme-color-black;
            }
            content {
                @include column-center;
                justify-content: space-between;
                line-height: 150%;
                .assist-content {
                    @include column-center;
                    height: auto;
                    width: 100%;
                    margin-bottom: 8vh;
                    .assist-image {
                        width: 100%;
                        height: 20vh;
                        @include row-center;
                        img {
                            max-width: 50%;
                            max-height: 20vh;
                        }
                    }
                    .assist-text {
                        margin-top: $mobile-vertical-margin-purple;
                        text-align: center;
                        font-size: $mobile-font-h4-size;
                    }
                }
            }
        }
        .what-we-offer-get-in-touch {
            width: 100vw;
            height: auto;
            @include column-center;
            text-transform: uppercase;
            font-size: $mobile-font-body-size;
            text-align: center;
            padding: 0 $mobile-horizontal-padding-light-red;
            h2 {
                width: auto;
                height: auto;
                color: black;
                margin-top: 2vh;
                font-size: $mobile-font-h3-size;
                text-decoration: underline;
            }
        }
    }
    h2 {
        font-size: $mobile-font-h1-size;
    }
}

@include media(small) {
    .what-we-offer-container {
        font-size: $desktop-font-h4-size;
        .what-we-offer-content {
            .what-we-offer {
                @include column-center;
                justify-content: flex-start;
                align-items: flex-start;
                content {
                    width: 60%;
                    font-size: $desktop-font-h4-size;
                }
            }
            .what-we-offer-description {
                height: 100vh;
                padding: 0 $desktop-horizontal-padding-light-green; // display: none;
                h2 {
                    margin-top: 30vh;
                    font-size: $desktop-font-h1-size;
                }
                content {
                    opacity: 0;
                }
            }
            .what-we-offer-article {
                opacity: 0;
                width: 100vw;
                height: 100vh;
                @include row-center; // display: none;
                h2 {
                    font-size: $desktop-font-h2-size;
                    color: $theme-color-pink;
                }
                .article-text {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    padding: 0 $desktop-horizontal-padding-light-green;
                    justify-content: flex-end;
                    content {
                        width: 100%;
                        height: 25vh;
                        font-size: $desktop-font-body-size;
                        color: $theme-color-black;
                        .description {
                            margin-bottom: $desktop-vertical-margin-light-yellow;
                        }
                        img.article-image {
                            max-width: 5vw;
                            max-height: 10vh;
                        }
                        .aritcle-quote {
                            font-size: $desktop-font-body-size;
                            color: $theme-color-grey;
                        }
                        .article-quote-author {
                            font-size: $desktop-font-body-size - 2px;
                            color: $theme-color-grey;
                        }
                    }
                    .article-action {
                        width: 100%;
                        margin-top: 15vh;
                        margin-bottom: $desktop-vertical-margin-light-pink;
                        .enquire-button {
                            background: transparent;
                            position: relative;
                            color: black;
                            padding: 10px 20px;
                            border-radius: 5px;
                            font-family: $theme-font-type-roboto-condensed;
                            font-size: $desktop-font-h4-size;
                        }
                    }
                }
                .article-video {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    &::after {
                        opacity: 0;
                    }
                }
            }
            .what-we-offer-overview {
                opacity: 0;
                margin: $desktop-vertical-margin-sky-blue 0;
                width: 100vw;
                height: auto;
                padding: 0 $desktop-horizontal-padding-light-green;
                .overview-table {
                    width: 100%;
                    padding: 0 $desktop-horizontal-padding-light-red;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        font-family: $theme-font-type-roboto-condensed;
                        tr {
                            td {
                                &:nth-child(1) {
                                    cursor: initial;
                                    &::after {
                                        content: '';
                                        background: white !important;
                                        opacity: 0 !important;
                                    }
                                }
                            }
                            &:nth-child(even) {
                                background: #f0f0f0;
                            }
                        }
                        .title {
                            font-size: $desktop-font-h3-size + 2px;
                            font-weight: bold;
                            color: black;
                        }
                        .options {
                            width: 40%;
                            text-align: left;
                            padding-left: 1vw;
                            color: black;
                            font-family: $theme-font-type-roboto-condensed;
                        }
                        td {
                            letter-spacing: 3px;
                            line-height: 22.5px;
                            font-size: $desktop-font-h4-size + 2px;
                            text-align: center;
                            width: 20%;
                            padding: 2vh 0;
                            color: $theme-color-sky-blue;
                            position: relative;
                            cursor: pointer;
                            &::after {
                                content: '';
                                transition: 1s;
                            } // &:hover::after {
                            //     content: '';
                            //     position: absolute;
                            //     z-index: -1;
                            //     background-color: $theme-color-sky-blue;
                            //     opacity: 0.2;
                            //     height: 5000px;
                            //     left: 0;
                            //     top: -1000px;
                            //     width: 100%;
                            // }
                        }
                    }
                    @include media(tablet) {
                        padding: 0;
                    }
                }
            }
            .what-we-offer-assist {
                opacity: 0;
                margin: $desktop-vertical-margin-sky-blue 0;
                width: 100vw;
                height: auto;
                padding: 0 $desktop-horizontal-padding-light-green;
                font-size: $desktop-font-h4-size;
                h2 {
                    color: $theme-color-black;
                }
                content {
                    @include row-center;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    .assist-content {
                        @include column-center;
                        height: auto;
                        width: 30%;
                        .assist-image {
                            width: 100%;
                            height: 20vh;
                            @include row-center;
                            img {
                                max-width: 60%;
                                max-height: 20vh;
                            }
                        }
                        .assist-text {
                            margin-top: $desktop-vertical-margin-light-yellow;
                            text-align: center;
                        }
                    }
                }
            }
            .what-we-offer-get-in-touch {
                // opacity: 0;
                @include column-center;
                font-size: $desktop-font-h4-size + 2px;
                h2 {
                    font-size: $desktop-font-h2-size;
                }
            }
        }
    }
    h2 {
        font-size: $desktop-font-h1-size;
    }
    td,
    th {
        padding: 10px;
        position: relative;
        outline: 0;
    }
}

h2 {
    color: $theme-color-pink;
}

table {
    overflow: hidden;
}