@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/reset';
@import '../../sass/base';
.what-we-offer-container {
    width: 100vw;
    height: 100vh;
    color: $theme-font-white;
    font-family: $theme-font-type-roboto;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: $theme-mobile-content-line-height;
    font-size: $tablet-font-standard-size;
    font-weight: 300;
    text-transform: uppercase;
    top: 0;
    left: 0;
    @include column-center;
    .main-title-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-transform: uppercase;
        letter-spacing: 17.66px;
        font-size: 100px;
        font-weight: bold;
        .main-title {
            @include row-center;
            list-style-type: none;
            width: 100vw;
            height: 100vh;
            li {
                margin-right: 10px;
            }
        }
    }
    .what-we-offer-content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: white;
        color: $theme-font-grey;
        overflow-y: scroll;
        overflow-x: hidden;
        .what-we-offer-description {
            width: 100vw;
            height: 100vh;
            display: none;
        }
        .what-we-offer-article {
            width: 100vw;
            height: 100vh;
            @include row-center;
            .article-text {
                height: 100%;
                width: 50%;
            }
            .article-video {
                height: 100%;
                width: 50%;
                background: #999;
            }
        }
    }
}